.section {
    background: radial-gradient(#FDFEFF, #fff);
}
.login .text-dark{
    color:#809096 !important;
    font-size: 1rem;
}
.login .nav-link{
    width: 350px;
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #E1E2E2;
    margin: 1rem 0;
    border-radius: 5px;
}

.gmail-icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.login-form-container{
  text-align: center;
  width: 400px;
}
label{
    font-size: 0.875rem;
    color: #05264E;
}
.btn-signin{
    background: #3C65F5 !important;
    width: 100%;
    margin-top: 30px;
}