.section {
    background: radial-gradient(#FDFEFF, #fff);
}
.login .text-dark{
    color:#809096 !important;
    font-size: 1rem;
}
.login .nav-link{
    display:block;
    padding: 10px 25px;
    border: 1px solid #E1E2E2;
    margin: 1rem 0;
    border-radius: 5px;
}

.gmail-icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.login-form-container{
  text-align: center;
  width: 400px;
  padding: 35px;
    box-shadow: 2px 2px 15px #e6ecff;
}
label{
    font-size: 0.875rem;
    color: #05264E;
    font-weight:500
}
.btn-signin{
    width:100%;
    background: #3C65F5 !important;
    margin-top: 20px;
}
.fz-12{
    font-size: 12px;
}
.seperator{
    position: relative;
}
.seperator span{
    z-index: 4;
    position: relative;
    background: #fff;
    font-size: 13px;
    color: #9f9f9f;
}
.seperator:after{

        content: '';
        position: absolute;
        background: #e2e2e2;
        height: 1px;
        left: 0;
        right: 0;
        top: 12px;
        z-index: 0;
    
}
@media(max-width:767px){
    .login-form-container{
        width:100%;
        padding:15px
    }
}